@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: zilla slab, serif;
    font-weight: 300;
    color: #fff;
    background-image: linear-gradient(to right top, #18201f, #042e37, #013758, #42376c, #7e2b63);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Heading and Logo */

#logo {
    float: left;
    color: #fff;
    margin-left: 20px;
}

/* Navigation */

#nav-links {
    font-size: 100%;
    letter-spacing: 5px;
    font-weight: bold;
}

#nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
}

#nav-links a:hover {
    border: 2px solid #fff;
    padding: 10px;
}

#nav-links,
#logo {
    line-height: 50px;
}

.signup {
    text-transform: capitalize;
}

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image\ original.jpg) no-repeat center center;
    background-size: cover;
}

section > h2 {
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    text-transform: capitalize;
}

p {
    text-align: center;
}

#content {
    height: 600px;
    margin-top: 80px;
    line-height: 50px;
    padding-top: 30px;
    margin-left: 20px;
}

.content-div {
    float: left;
    width: 33.33%;
    border: 2px solid #fff;
    margin-left: 50px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

#left-content {
    width: 30%;
    /* float: left; */
    background: url(../images/content-left-image\ 2.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
}

#center-content {
    width: 30%;
    /* margin: 0 auto; */
    background: url(../images/content-center-image\ 2.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    margin: 20px;
}

#right-content {
    width: 30%;
    /* float: right; */
    background: url(../images/content-right-image.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    padding-right: 10px;
}

.link-headings {
    text-align: center;
    font-family: zilla slab;
    font-weight: 300;
    font-size: 80px;
    color: #fff;
    margin-top: 30%;
}

footer {
    width: 100%;
    height: 50px;
    background-color: blueviolet;
    margin-top: 100px;
}

.space {
    background-color: #fff;
    height: 30px;
    width: 100%;
    margin-bottom: 0;
}