@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: zilla slab, serif;
    font-weight: 300;
    color: #fff;
    background-image: linear-gradient(to right top, #18201f, #042e37, #013758, #42376c, #7e2b63);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Heading and Logo */

#logo {
    float: left;
    color: #fff;
    margin-left: 20px;
}

/* Navigation */

#nav-links {
    font-size: 100%;
    letter-spacing: 5px;
    font-weight: bold;
}

#nav-links li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#nav-links a {
    text-decoration: none;
    color: inherit;
}

#nav-links a:hover {
    border: 2px solid #fff;
    padding: 10px;
}

#nav-links,
#logo {
    line-height: 50px;
}

.signup {
    text-transform: capitalize;
}

/* HERO IMAGES FOR ALL PAGES */

#hero-container {
    height: 600px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/hero-image\ original.jpg) no-repeat center center;
    background-size: cover;
}

#idea-hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/idea-hero-3.jpg) no-repeat center center;
    background-size: cover;
}

#equipment-hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/equipment-hero.jpg) no-repeat center center;
    background-size: cover;
}

#software-hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/software-hero.jpg) no-repeat center center;
    background-size: cover;
}

/* INTRODUCTION TEXT */

.intro-text h2 {
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    text-transform: uppercase;
}

.intro-text p {
    width: 80%;
    text-align: center;
    margin-left: 200px;
    margin-top: 40px;
}

/* CONTENT LINKS SECTION */

#content {
    height: 600px;
    width: 100%;
    margin-top: 80px;
    padding-top: 30px;
    margin-left: 70px;
}

.content-div {
    /* float: left; */
    width: 33.33%;
    border: 2px solid #fff;
    height: 100%;
    display: inline-block;
    border-radius: 30%;
}

.content-div a {
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    padding-top: 20px;
    font-size: 60px;
    text-transform: capitalize;
    text-decoration: none;
}
.content-div:hover {
    border: 2px solid orange;
}

.content-div h2:hover {
    color: orange;
}



#left-content {
    width: 30%;
    /* float: left; */
    background: url(../images/content-left-image\ 2.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
}

#center-content {
    width: 30%;
    margin: 0 auto;
    background: url(../images/content-center-image-3.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */
    margin: 50px;
}

#right-content {
    width: 30%;
    /* float: right; */
    background: url(../images/content-right-image.jpg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* border-radius: 50%; */

}

.page-headings {
    text-align: center;
    font-family: zilla slab;
    font-weight: 300;
    font-size: 80px;
    color: #fff;
    margin-top: 30%;
    text-transform: uppercase;
}

/* NEWSLETTER SECTION */

#newsletter-container {
    background-color: #f2edd700;
    width: 100%;
    height: 450px;
    margin-top: 130px;
}

#newsletter-link {
    height: 250px;
    width: 95%;
    background-color: rgb(163, 148, 189);
    background-size: cover;
    overflow: hidden;
    /* margin-top: 150px; */
    /* margin-left: 100px; */
    border: 2px solid #fff;
    border-radius: 50px;
    /* position: relative; */
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    position: relative;
    background-color: rgba(37, 197, 176, 0);
    display: flex;
    flex-flow: column;
    /* align-items: center; */
    /* justify-content: space-evenly; */
}

#newsletter-link h2 {
    font-family: zilla slab;
    font-weight: 200;
    font-size: 40px;
    text-transform: uppercase;
    padding: 20px;
}

#newsletter-link p {
    font-size: 28px;
    padding-bottom: 20px;

}

a.button {
    display: inline-block;
    width: 10em;
    padding: 0.3em 1.2em;
    /* margin: 0 0.1em 0.1em 0; */
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    /* box-sizing: none; */
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
}

a.button:hover {
    border-color: rgba(255, 255, 255, 1);
    color: aqua;
}


footer {
    height: 80px;
    width: 100%;
    /* background-color: darkorchid; */
    background-image: linear-gradient(to top, #18201f, #042e37, #013758, #42376c, #7e2b63);
    margin-top: 100px;
    padding: 2em;
    text-align: center;
    /* position: fixed; */
    bottom: 0;
    /* right: 0; */
    /* z-index: 3; */
}

.info-background {
    background-color: #f2edd700;
    width: 100%;
    height: 605px;
    margin-top: 50px;
}

.info {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    margin: 0 auto;
    /* border: 2px solid #6a48c9; */
    position: relative;
    background-color: rgba(37, 197, 176, 0);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

.info-image {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    overflow: hidden;
    margin: 0 auto;
    /* border: 2px solid #3f99a8; */
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}

img {
    height: 550px;
    width: 550px;
    border-radius: 20% !important;
    margin-top: 5px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-background-op {
    background-color: #f2edd700;
    width: 100%;
    height: 605px;
    margin-top: 50px;
}

.info-op {
    width: 70%;
    height: 100%;
    box-sizing: border-box;
    float: right;
    overflow: hidden;
    margin: 0 auto;
    /* border: 2px solid #6a48c9; */
    position: relative;
    background-color: rgba(37, 197, 176, 0);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
}